.dep/
.lib/
MinOZW
cpp/src/vers.cpp
libopenzwave.a
libopenzwave.pc
libopenzwave.so*
libopenzwave.so
*.obj
/cpp/build/windows/vs2010/Debug/*.log
/cpp/build/windows/vs2010/Debug/OpenZWave.tlog/*.tlog
/cpp/build/windows/vs2010/Debug/OpenZWave.tlog/*.lastbuildstate
/cpp/build/windows/mingw32/*.o
/cpp/build/windows/mingw32/*.d
/cpp/build/windows/mingw32/*.d.*
/cpp/build/windows/mingw32/vers.c
/cpp/lib/windows-mingw32
*.idb
*.pdb
*.log
*.tlog
/dotnet/build/vs2010/Debug/app.res
Debug
/dotnet/examples/OZWForm/src/OZWForm.csproj
/dotnet/examples/OZWForm/src/OZWForm.sdf
/dotnet/examples/OZWForm/src/OZWForm.sln
/dotnet/examples/OZWForm/src/OZWForm.v12.suo
*.cache
*.res
*.lib
*.dll
*.metagen
*.exp
*.exe
OZWForm.exe.config
OZWForm.vshost.exe.config
OZWForm.vshost.exe.manifest
*.resources
/dotnet/examples/OZWForm/src/bin/x86/Release/OZW_Log.txt
/dotnet/examples/OZWForm/src/bin/x86/Release
/dotnet/examples/OZWForm/src/obj/x86/Release
.gitignore
/cpp/build/windows/winversion.cpp
.distfiles
*.dylib
*.txt
ozw_config
.project
*~
/.cproject
/zwscene.xml
/ozwcache_*.xml
.idea/
.idea/*
ozw_config
gtest-main
cpp/src/command_classes/\.DS_Store
.DS_Store
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/Browse.VC.db-wal
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/Browse.VC.db-shm
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/Browse.VC.db
/cpp/build/windows/vs2010/DebugDLL/OpenZWaved.dll.recipe
/MakeOZW.sh
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/f9a100cf98e0003c/VALUEDECIMAL.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/ed481b58c1c10775/ALARM.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/d14f4cdecc57d4c8/THERMOSTATMODE.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/cc9b2b56ae62a9e1/VALUELIST.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/cab96c873087e0bd/VALUE.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/c9f739f3c6e62b88/TINYXML.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/c5717a6a7e009d12/THERMOSTATMODE.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/ba350575fd30aba4/SECURITY.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/b4ccdeb75fe955d2/TINYXML.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/925bc5325351a871/LOG.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/9066fa9f3e08b5c7/VALUELIST.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/8d09d3eb981afe1f/TIMERTHREAD.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/8ae7f4dbe190e468/NODE.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/81801cc818a9b763/MSG.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/70c09fe7a60e2bab/MANUFACTURERSPECIFIC.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/69d978836eb27031/MANAGER.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/6069f9623b9baeb7/LOCALIZATION.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/5ed3f3dbe7cc23ef/MANUFACTURERSPECIFICDB.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/54fa565ba89f844d/COMMANDCLASS.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/52986d64d5744220/VALUEID.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/4f6e4622563973cf/THERMOSTATSETPOINT.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/4ed10de45d4c1b79/ZWSECURITY.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/4c4017b2903107ee/DRIVER.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/4af1a3f4a098c34d/COMMANDCLASSES.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/44b47bc9ef71ef02/NODE.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/3f1c607035018a7d/THERMOSTATSETPOINT.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/3d69a52282c2c24d/SUPERVISION.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/349fef378a98e9a2/VALUEDECIMAL.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/1b8d5940ce01bca5/SWITCHALL.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/1b100070c3f4c7f/SUPERVISION.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/ipch/AutoPCH/10ca8770e6b98823/COMMANDCLASSES.ipch
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/Browse.VC.opendb
/cpp/build/windows/vs2010/.vs/OpenZWave/v16/.suo
/cpp/build/windows/vs2010/DebugDLL/OpenZWaved.ilk
/cpp/build/windows/vs2010/GIT-VS-VERSION-FILE
/cpp/build/windows/vs2010/OpenZWave.vcxproj.user
